@model List<TicketsViewModel> 
@{ ViewData["Title"] = "Tickets"; }

<div class="section text-center">

<h1 class="text-success">Tickets</h1>

@if (ViewBag.Message != null)
{
    <p class="alert alert-primary" role="alert">
        @ViewBag.Message
    </p>
}

<div class="section center-text table-responsive mt-5">
    <table class="container table table-striped">
        <thead>
            <tr>
                <th class="p-1"><h3>ID</h3></th>
                <th class="p-1"><h3>Summary</h3></th>
                <th class="p-1" style="width: 300px"><h3>Description</h3></th>
                <th class="p-1"><h3>Ticket Type</h3></th>
                <th class="p-1"><h3>Severity</h3></th>
                <th class="p-1"><h3>Priority</h3></th>
                <th class="p-1"><h3>Status</h3></th>
                <th class="p-1"></th>
            </tr>
        </thead>
        <tbody>
             @foreach(var item in Model) {
            <tr>
               
                    <td>@item.Ticket_ID</td>
                    <td>@item.Summary</td>
                    <td>@item.Description</td>
                    <td>@item.Ticket_Type</td>
                    <td>@item.Severity</td>
                    <td>@item.Priority</td>                    
                    <td>@item.Status</td>
                    @if(Context.Session.GetString("UserType") == "QA"){
                    <td>
                        <div class="text-dark">
                            @Html.ActionLink("Edit Ticket", "Edit", new { ID = item.Ticket_ID })
                        </div>
                    </td> 
                    }
            </tr>
            }
        </tbody>
    </table>
</div>

</div>